<!--breadcrumb-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/projects">Projects</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a href="/project/{{project._id}}">{{project.name}}</a>
        </li>
    </ol>
</nav>
<!--Add a task button-->
<a href="/task/new/{{project._id}}">
    <i class="fas fa-plus-circle bigIcon" title="Add a task"></i>
</a>
<h2>{{project.name}}</h2>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Assignee</th>
        <th>Start date</th>
        <th>Due date</th>
        <th></th>
    </tr>
    {{#each tasks}}
        <tr>
            <td><a href="/task/{{this._id}}">{{this.name}}</a></td>
            <td><span class="badge badge-primary">{{this.assignee.firstname}} {{this.assignee.name}}</span></td>
            <td class="date">{{formatDate task.start_date "long"}}</td>
            <td class="date">{{formatDate task.due_date "long"}}</td>
            <td><a href="/task/update/{{this._id}}" title="Update task"><i class="fas fa-edit"></i></a></td>
            <td><a href="/task/remove/{{this._id}}" title="Remove task"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
    {{/each}}
</table>
