<h1>Settings</h1>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Projects">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Status">Statuses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Priority">Priorities</a>
    </li>
    {{#if users}}
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Users">Users</a>
        </li>
    {{/if}}
</ul>


<div class="tab-content">

    <div id="Projects" class="container tab-pane fade">
        <table>
            <a href="/project/new">
                <i class="fas fa-plus-circle bigIcon" title="Add a project"></i>
            </a>
            <h2>Projects</h2>
        </table>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Members</th>
                <th></th>
                <th></th>
            </tr>
            {{#each projects}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>
                        <ol class="settingslist">
                            {{#each this.members}}
                                <li><span class="badge badge-primary">{{this.firstname}} {{this.name}}</span></li>
                            {{/each}}
                        </ol>
                    </td>
                    <td style="width: 5%"><a href="/project/update/{{this._id}}" title="Update project"><i
                            class="fas fa-edit"></i></a></td>
                    <td style="width: 5%"><a href="/project/remove/{{this._id}}" title="Remove project"><i
                            class="fas fa-trash-alt"></i></a></td>
                </tr>
            {{/each}}
        </table>

    </div>


    <div id="Status" class="container tab-pane fade">
        <a href="/status/new">
            <i class="fas fa-plus-circle bigIcon" title="Add a status"></i>
        </a>

        <h2>Statuses</h2>

        <table class="table" class="fixed">
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>

            </tr>
            {{#each statuses}}
                <tr>
                    <td>{{this.name}}</td>
                    <td style="width: 5%"><a href="/status/update/{{this._id}}" title="Update status"><i
                            class="fas fa-edit"></i></a></td>
                    <td style="width: 5%"><a href="/status/remove/{{this._id}}" title="Remove status"><i
                            class="fas fa-trash-alt"></i></a></td>
                </tr>
            {{/each}}
        </table>

    </div>

    <div id="Priority" class="container tab-pane fade">
        <a href="/priority/new">
            <i class="fas fa-plus-circle bigIcon" title="Add a priority"></i>
        </a>

        <h2>Priority</h2>

        <table class="table" class="fixed">
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>

            </tr>
            {{#each priority}}
                <tr>
                    <td>{{this.name}}</td>
                    <td style="width: 5%"><a href="/priority/update/{{this._id}}" title="Update priority"><i
                            class="fas fa-edit"></i></a></td>
                    <td style="width: 5%"><a href="/priority/remove/{{this._id}}" title="Remove priority"><i
                            class="fas fa-trash-alt"></i></a></td>
                </tr>
            {{/each}}
        </table>
    </div>


    <div id="Users" class="container tab-pane fade">
        {{#if users}}
            <a href="/user/new">
                <i class="fas fa-plus-circle bigIcon" title="Add a user"></i>
            </a>
            <h2>Users</h2>

            <table class="table">
                <tr>
                    <th>Fisrtname</th>
                    <th>Lastname</th>
                    <th>Login</th>
                    <th>Password</th>
                    <th>Roles</th>
                    <th></th>
                    <th></th>
                </tr>
                {{#each users}}
                    <tr>
                        <td>{{this.firstname}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.login}}</td>
                        <td>{{this.password}}</td>
                        <td>
                            <ol class="settingslist">
                                {{#each this.roles}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </ol>
                        </td>
                        <td style="width: 5%"><a href="/user/update/{{this._id}}" title="Update user"><i
                                class="fas fa-edit"></i></a></td>
                        <td style="width: 5%"><a href="/user/remove/{{this._id}}" title="Remove user"><i
                                class="fas fa-trash-alt"></i></a></td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}
    </div>

