<h2>{{project.name}}</h2>
<table class="table">
    <tr>
    <th>Title</th>
    <th>Assignee</th>
    <th>Start date</th>
<th>Due date</th>
<th></th>
</tr>
{{#each tasks}}
<tr>
<td><a href="/task/{{this._id}}">{{this.name}}</a></td>
<td><span class="badge badge-primary">{{this.assignee.firstname}} {{this.assignee.name}}</span></td>
<td class="date">{{formatDate this.start_date "long"}}</td>
<td class="date">{{formatDate this.due_date "long"}}</td>
<td><a href="/task/update/{{this._id}}" title="Update task"><i class="fas fa-edit"></i></a></td>
</tr>
{{/each}}
</table>