<h1>Summary</h1>

<!-- Nav tabs-->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Projects">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Tasks">Tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#FinishedTasks">Finished Tasks</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Project</a>
        <div class="dropdown-menu">
            {{#each projects}}
                <a class="dropdown-item" data-toggle="tab" href="#Project{{@index}}" onclick="getProjectTasks(this._id)">{{this.name}}</a>
            {{/each}}
        </div>
    </li>
</ul>

<!-- Tabs content -->
<div class="tab-content">
    <!-- Projects summary :
        all the projects of the user-->
    <div id="Projects" class="container tab-pane">
        <table class="table">
            <tr>
                <th>Project</th>
                <th>Members</th>
            </tr>
            {{#each projects}}
                <tr>
                    <td>{{this.name}}</td>
                    <td><ul>{{#each this.members}}
                            <li><span class="badge badge-primary">
                                {{this.firstname}} {{this.name}}
                            </span></li>
                        {{/each}}
                        </ul></td>
                </tr>
            {{/each}}
        </table>
    </div>

    <!-- Tasks summary :
        all the tasks assigned to the user-->
    <div id="Tasks" class="container tab-pane fade">
        <table class="table">
            <tr>
                <th>Tasks</th>
                <th>Project</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Advancement</th>
                <th>Status</th>
                <th>Priority</th>
            </tr>
            {{#each tasks}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.project.name}}</td>
                    <td class="date">{{formatDate this.start_date "long"}}</td>
                    <td class="date">{{formatDate this.due_date "long"}}</td>
                    <td style="text-align : center">{{this.advancement}}%</td>
                    <td><span class="badge badge-warning">{{this.status.name}}</span></td>
                    <td><span class="badge badge-danger">{{this.priority.name}}</span></td>
                </tr>
            {{/each}}
        </table>
    </div>

    <!-- Finished tasks summary :
        all the finished tasks assigned to the user-->
    <div id="FinishedTasks" class="container tab-pane fade">
        {{#if finishedTasks}}
        <table class="table">
            <tr>
                <th>Tasks</th>
                <th>Project</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Status</th>
                <th>Priority</th>
            </tr>
            {{#each finishedTasks}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.project.name}}</td>
                    <td class="date">{{formatDate this.start_date "long"}}</td>
                    <td class="date">{{formatDate this.due_date "long"}}</td>
                    <td><span class="badge badge-warning">{{this.status.name}}</span></td>
                    <td><span class="badge badge-danger">{{this.priority.name}}</span></td>
                </tr>
            {{/each}}
        </table>
        {{/if}}
    </div>

    <!-- Project detail :
        lists all the tasks of a project-->
    {{#each projectTasksArray}}
    <div id="Project{{@index}}" class="container tab-pane fade">
        <h3>{{this.projectName}}</h3>
        <p>Project advancement rate : {{this.projectAdvancement}}%</p>
        <table class="table">
            <tr>
                <th>Tasks</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Advancement</th>
                <th>Status</th>
                <th>Priority</th>
            </tr>
            {{#each this.tasks}}
                <tr {{#ifeq this.assignee.id ../../userId}}bgcolor="#e6e6ff"{{/ifeq}}>
                    <td>{{this.name}}</td>
                    <td><span class="badge badge-primary">{{this.assignee.firstname}} {{this.assignee.name}}</span></td>
                    <td class="date">{{formatDate this.start_date "long"}}</td>
                    <td class="date">{{formatDate this.due_date "long"}}</td>
                    <td style="text-align : center">{{this.advancement}}%</td>
                    <td><span class="badge badge-warning">{{this.status.name}}</span></td>
                    <td><span class="badge badge-danger">{{this.priority.name}}</span></td>
                </tr>
            {{/each}}
        </table>
    </div>
    {{/each}}
</div>
